@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.product-title {
    background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-family: "Pacifico";
    letter-spacing: 0.2rem;
    font-size: 3rem;
    padding-bottom: 1rem;
}

.cardAnimation {
    border-radius: 30px;
    cursor: pointer;
    border: none;
    box-shadow: 
        12px 12px 16px 0 rgba(0,0,0,0.15),
        -8px -8px 12px 0 rgba(255,255,255,0.7);
}