
.cart-title {
    background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-family: "Pacifico";
    letter-spacing: 0.2rem;
    font-size: 3rem;
    padding-bottom: 1rem;
}